/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(BCO.60f516eb-8009-4649-8456-16a3aca8f0ae.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-wrapper {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 230px 0 100px;
}

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.hero .title {
    max-width: 1053px;
    width: 90vw; 
    min-height: 100px;
    color: #25285D;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: 800;
    font-size: clamp(2rem, 8vw, 6rem);
    line-height: 1.2;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}

.hero .small {
    font-family: "Charmonman", cursive;
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 2rem);
    color: white;
    margin-bottom: 40px;
}

.section1, .section2, .section3, .section4 {
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 100%;
    display: flex;
    justify-content: center;
}

.section1, .section3 { transform: translateX(100px); } 
.section2, .section4 { transform: translateX(-100px); }

.show {
    opacity: 1;
    transform: translateX(0) !important;
}

img {
    max-width: 95%;
    height: auto; 
}

.section1a {
    position: fixed; 
    z-index: 999;
    bottom: -150px; 
    left: -150px;   
    width: 150px;  
    pointer-events: none; /
    opacity: 0;
    transition: transform 2.5s ease-out, opacity 0.5s; 
}

.section1a.flight {
    opacity: 1;
    transform: translate(120vw, -120vh) rotate(20deg);
}
@media (max-width: 750px) {
    .main-wrapper {
        padding-top: 300px;
        gap: 20px;
    }
    .hero .small {
        font-family: "Charmonman", cursive;
        font-weight: 700;
        font-size: clamp(1rem, 4vw, 2rem);
        color: white;
        margin-bottom: 60px;
    }
    .section1, .section3 { 
        transform: translateX(40px); 
    }
    .section2, .section4 {
         transform: translateX(-40px); 
    }
    img {
        max-width: 95%;
        height: 150px; 
    }
}