* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding-top: 230px;
    background-image: url(BCO.60f516eb-8009-4649-8456-16a3aca8f0ae.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    position: relative;
    overflow-x: hidden;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.hero .title {
    width: 1053px;
    height: 200px;
    position: relative;
    z-index: 2;
    border-radius: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px  2px 0 #fff, 2px  2px 0 #fff;
    color: #25285D;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: 800;
    font-size: 100px;
    line-height: 1.16;
    text-align: center;
}
.hero .small {
    font-family: Charmonman;
    font-weight: 700;
    font-size: 32px;
    color: white;
}
.section1, .section2, .section3, .section4 {
    opacity: 0;
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.from-right {
    transform: translateX(200px);
}

.from-left {
    transform: translateX(-200px);
}

.show {
    opacity: 1;
    transform: translateX(0);
}
.section1 {
    z-index: 1;
}
.section1a {
   transform: translate(-100vw, 40vh);
    transition: transform 1.2s ease-out, opacity 0.8s ease;
    z-index: 2;             
    position: absolute;
    opacity: 1;
    transition: all 1.2s ease-out;
}
.flight {
    opacity: 1;
    transform: translate(100vw, -40vh);
}

@media only screen and (max-width: 1100px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-direction: column;
        padding-top: 260px;
        background-image: url(BCO.60f516eb-8009-4649-8456-16a3aca8f0ae.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
        position: relative;
        overflow-x: hidden;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    .hero .title {
        width: 740px;
        height: 100px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px  2px 0 #fff, 2px  2px 0 #fff;
        color: #25285D;
        font-family: "Baloo Tamma 2", sans-serif;
        font-weight: 800;
        font-size: 64px;
        line-height: 1.16;
        text-align: center;
    }
    .hero .small {
        font-family: Charmonman;
        font-weight: 700;
        font-size: 28px;
        color: white;
    }
    .section1, .section2, .section3, .section4 {
        opacity: 0;
        transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .from-right {
        transform: translateX(200px);
    }

    .from-left {
        transform: translateX(-200px);
    }

    .show {
        opacity: 1;
        transform: translateX(0);
    }
    .section1 {
        z-index: 1;
    }
    .section1a {
        transition: transform 1.2s ease-out, opacity 0.8s ease;
        z-index: 2;             
        position: absolute;
        opacity: 1;
        transition: all 1.2s ease-out;
         /* transform: translate(-120vw, 40vh); */
    }
    .flight {
        opacity: 1;
        /* transform: translate(120vw, -40vh); */
    }
    img {
        width: 100%;
    }

}



@media only screen and (max-width: 750px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        padding-top: 300px;
        background-image: url(BCO.60f516eb-8009-4649-8456-16a3aca8f0ae.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
        position: relative;
        overflow-x: hidden;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    .hero .title {
        width: 340px;
        height: 50px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px  2px 0 #fff, 2px  2px 0 #fff;
        color: #25285D;
        font-family: "Baloo Tamma 2", sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 1.16;
        text-align: center;
    }
    .hero .small {
        font-family: Charmonman;
        font-weight: 700;
        font-size: 18px;
        color: white;
    }
    .section1, .section2, .section3, .section4 {
        opacity: 0;
        transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .from-right {
        transform: translateX(200px);
        margin: 0 auto;
    }

    .from-left {
        transform: translateX(-200px);
        margin: 0 auto;
    }

    .show {
        opacity: 1;
        transform: translateX(0);
        margin: 0 auto;
    }
    .section1 {
        z-index: 1;
    }
    .section1a {
        transition: transform 1.2s ease-out, opacity 0.8s ease;
        z-index: 2;             
        position: absolute;
        opacity: 1;
        transition: all 1.2s ease-out;
    }
    .flight {
        opacity: 1;
    }
    img {
        width: 95%;
    }
}
